body{
  background: url(galaxy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.create {
  color:orange !important;
}

.titles{
  color:purple;
  font-size: 250%;
  text-align: center !important;
}

.dashboard_page {
  background: url(realistic-imac.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
