<form action="/robots/<%= @robot.id %>" method="post">
  <p>Edita este robot:</p>
  <input type="hidden" name="_method" value="PUT" />
  <label for="formGroupExampleInput">Nombre</label>
  <input type='text' name='robot[name]' value="<%= @robot.name %>"/><br/>
  <label for="formGroupExampleInput">Ciudad</label>
  <input type='text' name='robot[city]'/><br/>
  <label for="formGroupExampleInput">Estado</label>
  <input type='text' name='robot[state]'/><br/>
  <label for="formGroupExampleInput">Imagen</label>
  <input type='text' name='robot[avatar]'/><br/>
  <label for="formGroupExampleInput">Fecha de Nacimiento</label>
  <input type='text' name='robot[birthdate]'/><br/>
  <label for="formGroupExampleInput">Fecha de Empleo</label>
  <input type='text' name='robot[date_hired]'/><br/>
  <label for="formGroupExampleInput">Agencia</label>
  <input type='text' name='robot[department]'/><br/>
  <input class="btn btn-default" type='submit'/>
</form>
