<form action="/robots/<%= @robot.id %>" method="post">
  <p>Editar</p>
  <input type="hidden" name="_method" value="PUT" /> <!-- builds params -->
  <input type='text' name='robot[name]' value="<%= @robot.name %>"/><br/> <!-- populates with former info -->
  <textarea name='robot[department]'><%= @robot.department %></textarea><br/>
  <input type='submit'/>  <!-- gives submit button -->
</form>

<!-- creates form for editing -->
