<form class="well" action="/robots" method="post">
    <h2>Crea un nuevo robot:</h2>
    <div class="submission"
      <label for="formGroupExampleInput">Nombre</label>
      <input type='text' name='robot[name]'/><br/>
      <label for="formGroupExampleInput">Ciudad</label>
      <input type='text' name='robot[city]'/><br/>
      <label for="formGroupExampleInput">Estado</label>
      <input type='text' name='robot[state]'/><br/>
      <label for="formGroupExampleInput">Imagen</label>
      <input type='text' name='robot[avatar]'/><br/>
      <label for="formGroupExampleInput">Fecha de Nacimiento</label>
      <input type='text' name='robot[birthdate]'/><br/>
      <label for="formGroupExampleInput">Fecha de Empleo</label>
      <input type='text' name='robot[date_hired]'/><br/>
      <label for="formGroupExampleInput">Agencia</label>
      <input type='text' name='robot[department]'/><br/>
      <input class="btn btn-default" type='submit' value= "Submit"/>
    </div>
</form>
