<form class="well" action="/robots" method="post">
  <h2>Enter a new robot:</h2>
  <input type='text' name='robot[name]'/><br/>
  <textarea name='robot[department]'></textarea><br/>
  <input class="btn btn-default" type='submit'/>
</form>
